.speaker-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
    background-color: rgb(30, 40, 49);
    width: 20%;
    height: 60%;   
    box-shadow: 0px 0px 8px rgba(88, 169, 240, 0.596) ;
}
.speaker-card img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10%;
}
.speaker-card h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px black;
}

.speaker-card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
}