footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: black;
    
}
.conteudo-direita-footer img{
    width: 40px;
    height: auto;
}


.conteudo-esquerda-footer,
.conteudo-direita-footer,
.conteudo-central-footer{
    height: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.conteudo-direita-footer ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
.conteudo-central-footer img{
    width: 100px;

}
