footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(0, 0, 0);

}
footer img{
    width: 100px;
    height: auto;

}
.conteudo-esquerda-footer,
.conteudo-direita-footer,
.conteudo-central-footer{
    
}